<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Biometrics" connectionString="pyl29AZ1ix4grfisVJNlbPW9tFCZ051h2MH6vdfhnG3DsfRNof5BgxJAJ1gGLeJuujYNZmAa+q/Z0fNQw5Lnxz7f96uBcB+UZSShjWbeI9VpSBuHiZe6xV1p6CqOnkzHRLfQraRxzmE=" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="2.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="ErrorLogPath" value="D:\SupremeAPI\Logs\" />
		<add key="connectionString" value="Data Source=DESKTOP-L5SHLVS;Initial catalog=Bugadde;trusted_connection=true"/>
		<add key="BaseUrl" value="http://197.221.143.226:1600/BiometricApi/" />
		<add key="DataSource" value="192.168.4.248" />
		<add key="DBName" value="Bugadde" />
		<add key="BankID" value="12" />
		<add key="InitializeImage" value="12" />
		<add key="ClientIDLength" value="7" />
		<add key="DataAccessTimeOut" value="200000" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>